---
- name: Install and run Grafana & Prometheus
  hosts: aws
  become: true

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes

    - name: Install required dependencies
      ansible.builtin.apt:
        name:
          - apt-transport-https
          - software-properties-common
          - wget
        state: present

    - name: Add Grafana GPG key
      ansible.builtin.apt_key:
        url: https://packages.grafana.com/gpg.key
        state: present

    - name: Add Grafana repository
      ansible.builtin.apt_repository:
        repo: "deb https://packages.grafana.com/oss/deb stable main"
        state: present

    - name: Install Grafana
      ansible.builtin.apt:
        name: grafana
        state: present
        update_cache: yes

    - name: Enable and start Grafana
      ansible.builtin.service:
        name: grafana-server
        state: started
        enabled: true

    - name: Install Prometheus
      ansible.builtin.apt:
        name: prometheus
        state: present

    - name: Enable and start Prometheus
      ansible.builtin.service:
        name: prometheus
        state: started
        enabled: true

    - name: Wait for Grafana to come online
      ansible.builtin.wait_for:
        port: 3000
        host: 127.0.0.1
        delay: 5
        timeout: 120
